<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>PracticeTestNG</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="f57599">  <td>19/03/26 17:19:13</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ParameterTest.beforeLogin()[pri:0, instance:com.parameters.ParameterTest@612fc6eb]">&gt;&gt;beforeLogin</td> 
<td>&nbsp;</td>  <td>main@1291113768</td>   <td></td> </tr>
<tr bgcolor="f57599">  <td>19/03/26 17:19:13</td>   <td>130</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ParameterTest.gmailLogin(java.lang.String, java.lang.String)[pri:0, instance:com.parameters.ParameterTest@612fc6eb]">gmailLogin</td> 
  <td>main@1291113768</td>   <td></td> </tr>
</table>
