<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="6aaa8d">  <td>19/03/27 19:08:08</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ParameterTest.afterafter()[pri:0, instance:com.parameters.ParameterTest@4eb7f003]">&lt;&lt;afterafter</td> 
<td>&nbsp;</td>  <td>main@811760110</td>   <td></td> </tr>
<tr bgcolor="6aaa8d">  <td>19/03/27 19:07:44</td>   <td>-23773</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ParameterTest.beforeLogin()[pri:0, instance:com.parameters.ParameterTest@4eb7f003]">&gt;&gt;beforeLogin</td> 
<td>&nbsp;</td>  <td>main@811760110</td>   <td></td> </tr>
<tr bgcolor="6aaa8d">  <td>19/03/27 19:08:04</td>   <td>-3367</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ParameterTest.gmailLogin(java.lang.String, java.lang.String)[pri:0, instance:com.parameters.ParameterTest@4eb7f003]">gmailLogin</td> 
  <td>main@811760110</td>   <td></td> </tr>
</table>
