<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="78a09f">  <td>19/02/20 18:11:04</td>   <td>0</td> <td title="&gt;&gt;NewTest.beforeSuite()[pri:0, instance:NewTest@7e0b85f9]">&gt;&gt;beforeSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@306115458</td>   <td></td> </tr>
<tr bgcolor="78a09f">  <td>19/02/20 18:11:12</td>   <td>7544</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NewTest.newByod()[pri:0, instance:NewTest@7e0b85f9]">newByod</td> 
  <td>main@306115458</td>   <td></td> </tr>
<tr bgcolor="78a09f">  <td>19/02/20 18:12:35</td>   <td>91074</td> <td title="&lt;&lt;NewTest.afterSuite()[pri:0, instance:NewTest@7e0b85f9]">&lt;&lt;afterSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@306115458</td>   <td></td> </tr>
</table>
